/* MyComponent.module.css */

@keyframes shake {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-2px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .shake:hover {
    animation: shake 0.5s infinite;
  }
  