.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: red;
    outline: 3px red solid;
    cursor: pointer;
    transition: 400ms;
  }
  
  .button .text {
    color: white;
    font-weight: 200;
    font-size: 15px;
    transition: 400ms;
  }
  

  
  .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #007ACC;
  }
  
